@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Общие стили для контейнера */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f4f8;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

/* Контейнер для кнопок */
.button-container {
  display: flex;
  gap: 20px;
}

/* Стили для кнопок */
.auth-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: uppercase;
}

/* Стили для кнопки логина */
.login-button {
  background-color: #0070f3;
  color: white;
}

.login-button:hover {
  background-color: #005bb5;
}

/* Стили для кнопки регистрации */
.register-button {
  background-color: #28a745;
  color: white;
}

.register-button:hover {
  background-color: #218838;
}
