/* Modal.module.css */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  /* padding: 2rem; */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  max-width: 500px;
  /* width: 100%; */
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.closeButton:hover {
  background-color: #f0f0f0;
}

.toggleButtons {
  display: flex;
  justify-content: center;
  /* margin-bottom: 1rem; */
}

.toggleButton {
  background-color: transparent;
  color: black;
  /* border: 1px solid #ccc; */
  padding: 0.8rem 2rem;
  /* cursor: pointer; */
  width: 100%;
  /* margin: 0 1rem; */
  font-size: 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.toggleButton:hover {
  background-color: #b6b6b6;
}

.active {
  background-color: #0070f3;
  color: white;
}
