.dropdown-item {
  padding: 0.5rem;
  margin: 0.1rem;
  width: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #5e5e5e;
}

.dropdown-item[aria-disabled="true"] {
  color: #9ca3af; /* text-gray-400 */
  cursor: not-allowed;
}