.order {
    background: white;
    border-radius: 10px;
    margin: 10px auto;
    max-width: 450px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); /* Мягкая тень с большим размытием */
    overflow: hidden;
    /*border: 1px solid #dcdcdc;*/
}
.order:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.order-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    font-weight: 500;
    border: 1px solid #dcdcdc; /* Обводка толщиной 2px и серым цветом */
}
.order-details {
    display: none;
}
.expanded {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
}

.route {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Прижимаем содержимое к левому краю */
    font-size: 16px;
    /*font-weight: ;*/
}
.route-wrapper {
    display: flex;
    align-items: center;
}
.route-icon {
    width: calc(305px/10); /* Размер иконки */
    height: calc(881px/10) ;
    margin-right: 10px; /* Отступ от маршрута */
}

.arrow {
    font-size: 20px;
    color: #007bff;
    margin: 5px 0;
}

.line-with-text {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: #555555;
    width: 100%;
    position: relative;
}

.line-with-text::before {
    content: '';
    margin-right: 5px;
    flex: 1;
    border-bottom: 1px solid #bfbfbf;
}

.line-with-text::after {
    content: '';
    margin-left: 5px;
    flex: 1;
    border-bottom: 1px solid #bfbfbf;
}

.line-with-text span {
    padding: 0 10px;
    background-color: white;
}
.order-details-driver {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 75px; /* Увеличиваем высоту, чтобы было достаточно места для текста */
    border: 1px solid #dcdcdc; /* Обводка толщиной 2px и серым цветом */
}

.start_location {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Сдвигает содержимое вниз */
}

.start_location span:first-child {
    font-weight: 500;
}

.start_location span:last-child {
    padding-top: 5px;
    color: gray;
    font-size: 12px;
    margin-top: auto;
}

.destination {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Сдвигает содержимое вниз */
}

.destination span:first-child {
    font-weight: 500;
}

.destination span:last-child {
    padding-top: 5px;
    color: gray;
    font-size: 12px;
    margin-top: auto;
}

.profile-driver {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Сдвигает содержимое вниз */
}

.profile-driver span:first-child {
    font-weight: 500;
}

.profile-driver span:last-child {
    /*padding-top: 15px;*/
    color: gray;
    font-size: 14px;
    margin-top: auto;
}

.car-driver {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.car-driver .model {
    font-weight: 500;
}

.car-driver .plate {
    color: gray;
    font-size: 14px;
    margin-top: auto;
}
.order-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три равных столбца */
    gap: 20px;
    justify-items: center;
}

.order-info > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}

.order-info span {
    margin: 0;
    font-size: 16px;
}

.order-info .first {
    font-weight: 500; /* Жирный текст для первого элемента */
    display: block;
}

.order-info .second {
    color: gray;
    font-size: 14px;
    display: block;
}

.order-info .line {
    margin-bottom: 10px; /* Вертикальный отступ между парами */
}
.feedback-section {
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.feedback-section textarea {
    width: 100%;
    min-height: 100px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 14px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: rgb(59, 59, 59);
    resize: none; /* Отключаем возможность ручного изменения размера */
    overflow-y: hidden; /* Убираем полосу прокрутки */
}

.feedback-section .char-limit-warning {
    color: #cf3838;
    font-size: 12px;
    margin-top: 5px;
    display: none; /* Скрыть по умолчанию */
}

.feedback-section button {
    /* align-self: center; */
    /* width: 280px; */
    padding: 12px 12px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #515567;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.feedback-section button:hover {
    background-color: #64687e;
}

.rating {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}

.rating .star img {
    width: 35px;
    height: auto;
    cursor: pointer;
}

.star.selected img.empty {
    display: none; /* Прячем пустую звезду */
}

.star.selected img.filled {
    display: inline-block; /* Показываем заполненную звезду */
}