.order {
    background: white;
    border-radius: 10px;
    margin: 10px auto;
    max-width: 450px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); /* Мягкая тень с большим размытием */
    overflow: hidden;
    /*border: 1px solid #dcdcdc;*/
}
.order:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.order-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    font-weight: 500;
    border: 1px solid #dcdcdc; /* Обводка толщиной 2px и серым цветом */
}
.order-details {
    display: none;
}
.expanded {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
}

.route {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Прижимаем содержимое к левому краю */
    font-size: 16px;
    /*font-weight: ;*/
}

.arrow {
    font-size: 20px;
    color: #007bff;
    margin: 5px 0;
}

.line-with-text {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: #555555;
    width: 100%;
    position: relative;
}

.line-with-text::before {
    content: '';
    margin-right: 5px;
    flex: 1;
    border-bottom: 1px solid #bfbfbf;
}

.line-with-text::after {
    content: '';
    margin-left: 5px;
    flex: 1;
    border-bottom: 1px solid #bfbfbf;
}

.line-with-text span {
    padding: 0 10px;
    background-color: white;
}
.order-details-driver {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 75px; /* Увеличиваем высоту, чтобы было достаточно места для текста */
    border: 1px solid #dcdcdc; /* Обводка толщиной 2px и серым цветом */
}

.start_location {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Сдвигает содержимое вниз */
}

.start_location span:first-child {
    font-weight: 500;
}

.start_location span:last-child {
    padding-top: 5px;
    color: gray;
    font-size: 12px;
    margin-top: auto;
}

.destination {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Сдвигает содержимое вниз */
}

.destination span:first-child {
    font-weight: 500;
}

.destination span:last-child {
    padding-top: 5px;
    color: gray;
    font-size: 12px;
    margin-top: auto;
}

.profile-driver {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Сдвигает содержимое вниз */
}

.profile-driver span:first-child {
    font-weight: 500;
}

.profile-driver span:last-child {
    /*padding-top: 15px;*/
    color: gray;
    font-size: 14px;
    margin-top: auto;
}

.car-driver {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.car-driver .model {
    font-weight: 500;
}

.car-driver .plate {
    color: gray;
    font-size: 14px;
    margin-top: auto;
}