.info-box {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    flex-grow: 1;
    margin-left: 20px;
}

.info-box2 {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    flex-grow: 1;
    margin-left: 20px;
}

.info-item {
    margin-bottom: 10px;
}

.info-label {
    font-weight: bold;
}

.rounded-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.info-row {
    display: flex;
    align-items: center;
}

.info-detail {
    display: flex;
    align-items: center;
    white-space: nowrap;
    /* Prevents line breaks */
}

.info-detail p {
    white-space: normal;
}

.rating-container {
    margin-left: 20px;
    white-space: nowrap;
    /* Prevents line breaks */
}

.order {
    background: white;
    border-radius: 10px;
    margin: 10px auto;
    padding: 15px;
    max-width: 800px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); /* Мягкая тень с большим размытием */
    overflow: hidden;
    /*border: 1px solid #dcdcdc;*/
}
.order:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.order-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    font-weight: 500;
    border: 1px solid #dcdcdc; /* Обводка толщиной 2px и серым цветом */
}

.order-details-driver {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    /* height: 75px; Увеличиваем высоту, чтобы было достаточно места для текста */
    border: 1px solid #dcdcdc; /* Обводка толщиной 2px и серым цветом */
}

.order-details-client {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 75px; /* Увеличиваем высоту, чтобы было достаточно места для текста */
    border: 1px solid #dcdcdc; /* Обводка толщиной 2px и серым цветом */
}
.profile-driver {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Сдвигает содержимое вниз */
}

.profile-driver span:first-child {
    font-weight: 500;
}

.profile-driver span:last-child {
    /*padding-top: 15px;*/
    color: gray;
    font-size: 14px;
    margin-top: auto;
}

.profile-client {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Сдвигает содержимое вниз */
}

.profile-client span:first-child {
    font-weight: 500;
}

.profile-client span:last-child {
    /*padding-top: 15px;*/
    color: gray;
    font-size: 14px;
    margin-top: auto;
}

.car-driver {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profile-card {
    display: flex;
    align-items: center;
    background-color: #111;
    color: #fff;
    padding: 24px;
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
    gap: 32px;
    max-width: 1000px;
}

.profile-avatar img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #dcdcdc; 
}

.profile-info h2 {
    margin: 0 0 16px 0;
    font-size: 24px;
}

.info-row {
    display: flex;
    /* gap: 10px; расстояние между блоками */
    flex-wrap: wrap; /* адаптируем к ширине */
    justify-content: space-between; /* распределяет элементы по ширине */
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box; /* чтобы padding не нарушал размеры */
}

.info-row div {
    flex: 1; /* заставляет блоки занимать одинаковую ширину */
    min-width: 180px; /* минимальная ширина элемента */
    max-width: 270px; /* максимальная ширина элемента */
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 4px;
}

.value {
    font-size: 16px;
    /* font-weight: 500; */
}
.line-with-text {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: #555555;
    width: 100%;
    position: relative;
}

.line-with-text::before {
    content: '';
    margin-right: 5px;
    margin-left: 15px;
    flex: 1;
    border-bottom: 1px solid #bfbfbf;
}

.line-with-text::after {
    content: '';
    margin-left: 5px;
    margin-right: 15px;
    flex: 1;
    border-bottom: 1px solid #bfbfbf;
}

.line-with-text span {
    padding: 0 10px;
    background-color: white;
}