@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('/styles/style.css');
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body#main {
    padding: 0;
    margin: 0;
    font-family: "Montserrat",sans-serif;
    //font-family: Jaini, sans-serif;
    /*background-image: url('../img/map2.png'); !* Замените 'путь_к_вашей_картинке.jpg' на реальный путь к вашей картинке *!*/
    background-size: cover; /* Чтобы изображение занимало всю доступную область */
    background-position: center; /* Чтобы изображение было выровнено по центру */
}
body#profile {
    padding: 0;
    margin: 0;
    font-family: "Montserrat",sans-serif;
//font-family: Jaini, sans-serif;
    background-color: white; /* Замените 'путь_к_вашей_картинке.jpg' на реальный путь к вашей картинке */
    background-size: cover; /* Чтобы изображение занимало всю доступную область */
    background-position: center; /* Чтобы изображение было выровнено по центру */
}

ul{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
a {
    color: #343642;
    text-decoration: none;
}
/*li {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    font-size: 100%;*/
/*    vertical-align: baseline;*/
/*}*/

* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

.cd-main-header {
    position: relative;
    z-index: 1;
    height: 50px;
    background: #343642;
}


.cd-main-header::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

.cd-main-header__logo {
    float: left;
    margin: 4px 0 0 5%;
    /* reduce logo size on mobile and make sure it is left aligned with the transform-origin property */
    transform: scale(0.8);
    
}

.cd-main-header__logo img {
    display: block;
    
    width: 15%;
    height: 15%;
}

@media only screen and (min-width: 768px) {
    .cd-main-header {
        height: 80px;
    }
    .cd-main-header__logo {
        margin: 20px 0 0 5%;
        transform: scale(1);
    }
}

.cd-main-nav {
    float: right;
    margin-right: 100px;
    width: 44px;
    height: 100%;
    background: url("../img/cd-icon-menu.svg") no-repeat center center;
    cursor: pointer;
}

.cd-main-nav__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
}

.cd-main-nav__list.cd-main-nav__list--is-visible {
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}

.cd-main-nav__item {
    display: grid;
    height: 50px;
    align-items: center; /* Вертикальное центрирование */
    justify-content: center;
    line-height: 50px;
    padding-left: 5%;
    background: #292a34;
    border-top: 1px solid #3b3d4b;
    color: #FFF;
}

@media only screen and (min-width: 768px) {
    .cd-main-nav {
        /* reset style */
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
    }
    .cd-main-nav__list {
        /* reset style */
        position: static;
        width: auto;
        transform: translateY(0);
        line-height: 80px;
    }
    .cd-main-nav__list.cd-main-nav__list--is-visible {
        /* reset style */
        transform: translateY(0);
    }
    .cd-main-nav__list li {
        display: inline-block;
        margin-left: 1em;
    }
    .cd-main-nav__list li:nth-last-child(2) {
        margin-left: 2em;
    }
    .cd-main-nav__item {
        display: inline-block;
        height: auto;
        width: auto;
        line-height: normal;
        background: transparent;
    }
    .cd-main-nav__item3 {
        display: inline-block;
        background: transparent;
        border-radius: 50em;
        height: auto;
        line-height: normal;
        color: #FFF;
        text-overflow: ellipsis; /* добавляет многоточие для скрытого текста */
        max-width: 550px;    /* ограничивает максимальную ширину элемента */
        box-sizing: border-box; /* включает padding в общую ширину элемента */
        vertical-align: middle; /* вертикальное выравнивание */
        border: 1px solid rgba(255, 255, 255, 0.6);
        padding: .6em 1em;
    }
    .cd-main-nav__item4 {
        position: absolute;
        top: 50%;
        left: -50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        background: white;
        border-radius: 50em;
        height: auto;
        line-height: normal;
        color: green;
        font-weight: bold;
        text-overflow: ellipsis; /* добавляет многоточие для скрытого текста */
        max-width: 550px;    /* ограничивает максимальную ширину элемента */
        box-sizing: border-box; /* включает padding в общую ширину элемента */
        vertical-align: middle; /* вертикальное выравнивание */
        border: 1px solid rgba(255, 255, 255, 0.6);
        padding: .6em 1em;
        /* margin-left: -50px; Убедитесь, что не смещаете элемент вручную */
        /* margin-bottom: 25%; Убедитесь, что не добавляете лишний отступ */
    }

    .cd-main-nav__item.cd-main-nav__item--signin, .cd-main-nav__item.cd-main-nav__item--signup {
        padding: .6em 1em;
        border-radius: 50em;
    }

    .cd-main-nav__item.cd-main-nav__item--signin {
        border: 1px solid rgba(255, 255, 255, 0.6);
    }
    .cd-main-nav__item.cd-main-nav__item--signup {
        background: #2f889a;
    }
}
.dropdown {
    overflow: hidden;

}

/* Dropdown button */
.dropdown .dropbtn {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50em;
    font-size: 16px;
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ffca28;
    color: #0E161C;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: auto;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    //border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 40px;
    left: 50%; /* Перемещаем элемент в центр по горизонтали */
    transform: translateX(-50%);


}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    font-size: 15px;
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
    padding: 1px 50px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 50px; /* Округляем углы границы */

}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* -------------------------------- 

x sigin/signup popup 

-------------------------------- */
.cd-signin-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}

.cd-signin-modal.cd-signin-modal--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-signin-modal__container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    transform: translateY(-30px);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.cd-signin-modal--is-visible .cd-signin-modal__container {
    transform: translateY(0);
}

.cd-signin-modal__switcher:after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
}

.cd-signin-modal__switcher li {
    width: 50%;
    float: left;
    text-align: center;
}

.cd-signin-modal__switcher li:first-child a {
    border-radius: .25em 0 0 0;
}

.cd-signin-modal__switcher li:last-child a {
    border-radius: 0 .25em 0 0;
}

.cd-signin-modal__switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
}

.cd-signin-modal__switcher a.cd-selected {
    background: #FFF;
    color: #505260;
}

@media only screen and (min-width: 600px) {
    .cd-signin-modal__container {
        margin: 4em auto;
    }
    .cd-signin-modal__switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-signin-modal__form {
    padding: 1.4em;
}

.cd-signin-modal__fieldset {
    position: relative;
    margin: 1.4em 0;
}

.cd-signin-modal__fieldset:first-child {
    margin-top: 0;
}

.cd-signin-modal__fieldset:last-child {
    margin-bottom: 0;
}

.cd-signin-modal__label {
    font-size: 1.4rem;
}

.cd-signin-modal__label.cd-signin-modal__label--image-replace {
    /* replace text with an icon */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.cd-signin-modal__label.cd-signin-modal__label--username {
    background-image: url("../img/cd-icon-username.svg");
}

.cd-signin-modal__label.cd-signin-modal__label--email {
    background-image: url("../img/cd-icon-email.svg");
}

.cd-signin-modal__label.cd-signin-modal__label--phone {
    background-image: url("../img/cd-icon-phone.svg");
}

.cd-signin-modal__label.cd-signin-modal__label--password {
    background-image: url("../img/cd-icon-password.svg");
}

.cd-signin-modal__input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width {
    width: 100%;
}

.cd-signin-modal__input.cd-signin-modal__input--has-padding {
    padding: 12px 20px 12px 50px;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border {
    border: 1px solid #d2d8d8;
    appearance: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-error {
    border: 1px solid #d76666;
}

.cd-signin-modal__input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #2f889a;
    color: #FFF;
    font-weight: bold;
    border: none;
    appearance: none;
}

.cd-signin-modal__input[type=submit]:hover, .cd-signin-modal__input[type=submit]:focus {
    background: #3599ae;
    outline: none;
}

.cd-signin-modal__hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #343642;
}

.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 1.3rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
}

.cd-signin-modal__error::after {
    /* triangle */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}

@media only screen and (min-width: 600px) {
    .cd-signin-modal__form {
        padding: 2em;
    }
    .cd-signin-modal__fieldset {
        margin: 2em 0;
    }
    .cd-signin-modal__fieldset:first-child {
        margin-top: 0;
    }
    .cd-signin-modal__fieldset:last-child {
        margin-bottom: 0;
    }
    .cd-signin-modal__input.cd-signin-modal__input--has-padding {
        padding: 16px 20px 16px 50px;
    }
    .cd-signin-modal__input[type=submit] {
        padding: 16px 0;
    }
}

.cd-signin-modal__message {
    padding: 1.4em 1.4em 0;
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .cd-signin-modal__message {
        padding: 2em 2em 0;
    }
}

.cd-signin-modal__bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -70px;
    text-align: center;
    font-size: 1.4rem;
}

.cd-signin-modal__bottom-message a {
    color: #FFF;
    text-decoration: underline;
}

.cd-signin-modal__close {
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url("../img/cd-icon-close.svg") no-repeat center center;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@media only screen and (min-width: 1170px) {
    .cd-signin-modal__close {
        display: none;
    }
}

.cd-signin-modal__block {
    display: none;
}

.cd-signin-modal__block.cd-signin-modal__block--is-selected {
    display: block;
}

main {
    /*min-height: 100vh;*/
    /*padding: 4rem 2rem;*/
    /*flex: 1;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

        
.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
.s4
{
    color: #303c45;
    font-size: 18px;
    text-align: center;
}

#booking {
    position: relative; /* Устанавливаем позиционирование */
    /*z-index: 9999; !* Устанавливаем z-index выше, чем у карты *!*/

}

#booking-form {
    //background-color: transparent;
    width: 400px;
    height: 750px;
    max-width: 600px;
    margin-top: 80px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 15px;
    left: -700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

#booking-form label {
    display: block;
    //margin-bottom: 5px;
    font-weight: normal;
}

/*#booking-form input,*/

#booking-form input[type="text"]#pickup {
    color: #000000;
    padding: 15px;
    font-size: 14px;
    /* Размер шрифта */
    font-style: normal;
    /* Курсивный стиль */
    font-weight: lighter;
    /* Полужирный стиль */
    /* Другие свойства стиля */
}

#booking-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#booking-form button {

    width: 80%;
    position: absolute;
    bottom: 30px;
    left: 10%;
    background-color: #ffca28; /* Цвет фона */
    color: #303C45FF;
    padding: 15px;
    
    font-size: 20px;
    font-weight: bold; 
    font-family: "Montserrat", sans-serif;
    
    cursor: pointer;
    min-width: 120px;
    border-radius: 90px;
    border: 1px solid #e3e7ec;
    box-sizing: border-box;
    transition: .2s;
}

#booking-form button:hover {
    background-color: #f6c326
}
/*#booking-form div:hover {*/
/*    background-color: #00A660;*/
/*}*/

.centered-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 0.3s ease;
}
.centered-text button{
    background-color: #4CAF50; /* Цвет фона */
    color: #00A660; /* Цвет текста */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border: none; /* Убрать границу */
    border-radius: 5px; /* Закругление углов */
    cursor: pointer; /* Изменить курсор при наведении */
    font-size: 16px; /* Размер текста */
}

.centered-text:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* Затемнение при наведении */
}

.centered-text img {
    vertical-align: middle;
    margin-right: 2%;
    align-self: flex-start;
}
.centered-text .costTariff {
    font-family: "Montserrat",sans-serif;
    vertical-align: middle;
    margin-left: 20px;
    color: #303c45;
    font-weight: 600;
    font-size: 30px;
}

.centered-textTariff {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 0.3s ease;
}
.centered-textTariff .costTariff {
    font-family: "Montserrat",sans-serif;
    vertical-align: middle;
    margin-left: 20px;
    color: #000000;
    font-weight: 600;
    font-size: 26px;
}

.centered-textTariff:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* Затемнение при наведении */
}

.centered-textTariff img {
    vertical-align: middle;
    margin-right: 2%;
    align-self: flex-start;
}

.centered-textPaymentType {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px; /* Отступ сверху */
    margin-bottom: 15px; /* Отступ снизу */
    align-items: center;
    transition: background-color 0.3s ease;
}

.centered-textPaymentType:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* Затемнение при наведении */
}

.centered-textPaymentType img {
    vertical-align: middle;
    margin-right: 2%;
    align-self: flex-start;
}
.centered-text2 {
    //display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;
    vertical-align: middle;
    margin-top: 15px; /* Отступ сверху */
    margin-bottom: 15px; /* Отступ снизу */
    align-items: center;
    transition: background-color 0.3s ease;
}


.centered-text2:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* Затемнение при наведении */
}
.centered-text2::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0); /* Исходно прозрачный фон */
    transition: background-color 0.3s ease;
    z-index: -1; /* Поднять ниже содержимого */
}

.centered-text2:hover::before {
    background-color: rgba(0, 0, 0, 0.1); /* Затемнение при наведении */
}

.centered-text2 img {
    vertical-align: middle;
    margin-right: 20px;
    margin-left: 15px;
    align-self: flex-start;
}
.input-field{
    position: relative;
    padding: 12px 0;
    left: 2%;
}
.input-field input{
    width: 340px;
    height: 65px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    border: 1px solid #675f5f;
    background: transparent;
    color: #1b3083;
    outline: none;
}
.input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #321806;
    font-size: 19px;
    pointer-events: none;
    transition: 0.3s;
}
input:focus{
    border: 2px solid #059202;
}
input:focus ~ label,
input:valid ~ label{
    top: 10px;
    left: 15px;
    font-size: 16px;
    padding: 0 2px;
    color: #059202;
    background: #f7f7f7;
}
.time-item {
    display: block;
    align-items: center;
    height: 64px;
    margin: 0 -20px;
    padding: 40px 20px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;

}
.time-item .TimeMain-text {
    margin-left: 5px;
    color: #303c45;
}
.time-item .TimeMain-textM22 {
    margin-left: 10px;
    color: #303c45;
}
.time-item:hover {
    background-color: #EBEEF0;
    /* Затемнение при наведении */
}
.time-item img {
    line-height: 1;
}

.payment-itemM {
    display: flex;
    align-items: center;
    height: 64px;
    margin: 0 -20px;
    padding: 40px 35px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
}
.payment-itemM .main-textM {
    margin-left: 20px;
    color: #303c45;
}
.payment-itemM .main-textM1 {
    margin-left: 5px;
    color: #303c45;
}
.payment-itemM:hover {
    background-color: #EBEEF0;
    /* Затемнение при наведении */
}
.payment-itemM img {
    line-height: 1;
}
.payment-itemM.text-containerM {
    margin-left: 20px;
    font-weight: normal;
}
.Tariff-itemM {
    display: flex;
    align-items: center;
    height: 64px;
    margin: 0 -20px;
    padding: 40px 20px;
    font-size: 16px;
    border-bottom: 1px solid #ccc;

}
.Tariff-itemM .TariffMain-textM2 {
    margin-left: 5px;
    color: #303c45;
}
.Tariff-itemM .TariffMain-textM22 {
    margin-left: 10px;
    color: #303c45;
}
.Tariff-itemM:hover {
    background-color: #EBEEF0;
    /* Затемнение при наведении */
}
.Tariff-itemM img {
    line-height: 1;
}
.TariffText-containerM b.costTariffM2 {
    font-family: "Montserrat",sans-serif;
    vertical-align: middle;
    margin-left: 20px;
    color: #303c45;
    font-weight: 600;
    font-size: 30px;
}
.Tariff-itemS {
    display: none;
    align-items: center;
    height: 64px;
    margin: 0 -20px;
    padding: 40px 20px;
    border-bottom: 1px solid #ccc;
}
.Tariff-itemS:hover {
    background-color: #EBEEF0;
    /* Затемнение при наведении */
}
.Tariff-itemS img {
    vertical-align: middle;
    //margin-right: 2%;
    align-self: flex-start;
}
.Tariff-itemS img#scooter {
    width: 50%;
    vertical-align: middle;
    align-self: flex-start;
}
TariffText-containerS b.costTariffS2 {
    font-family: "Montserrat",sans-serif;
    vertical-align: middle;
    margin-left: 20px;
    color: #303c45;
    font-weight: 600;
    font-size: 30px;
}
.Tariff-itemS .text-containerS {
    //margin-left: 20px;
    font-weight: normal;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 0.3s ease;
}
.Tariff-itemS .main-textS {
    font-family: "Montserrat",sans-serif;
    text-align: center;
    vertical-align: middle;
    margin-left: 20px;
    color: #000000;
    font-weight: 600;
    font-size: 16px;

}
.Tariff-itemS .secondary-textS {
    font-family: "Montserrat",sans-serif;
    vertical-align: middle;
    margin-left: 20px;
    color: #303c45;
    font-weight: 600;
    font-size: 30px;
}
.payment-item {
    display: none;
    align-items: center;
    height: 64px;
    margin: 0 -20px;
    padding: 40px 20px;
    border-bottom: 1px solid #ccc;
}
.payment-item:hover {
    background-color: #EBEEF0;
    /* Затемнение при наведении */
}
.payment-item img {
    line-height: 1;
}
.payment-item .text-container {
    margin-left: 20px;
    font-weight: normal;
}
.payment-item .main-text {
    font-size: 16px;
}
.payment-item .secondary-text {
    font-size: 14px;
}
.selected {
    background-color: #dcffe0 !important;
}
.selected .main-text {
    color: #008c52 !important;
    font-weight: bold !important;
}
.selected .secondary-text {
    color: #00a68d !important;
}
.radio {
    margin: 0.5rem;
    input[type="radio"] {
        //margin: 0 20px;
        //position: absolute;
        opacity: 0;
        + .radio-label {
            color: #303c45;
            &:before {
                content: '';
                background: white;
                border-radius: 100%;
                border: 1px solid rgba(0, 0, 0, 0.25);
                display: inline-block;
                width: 1.1em;
                height: 1.1em;
                position: relative;
                //top: 0.1em;
                margin-right: 1.2em;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                transition: all 250ms ease;
            }
        }
        &:checked {
            + .radio-label {
                color: #303c45;
                &:before {
                    background-color: #00a660;
                    box-shadow: inset 0 0 0 4px white;
                }
            }
        }
        &:focus {
            + .radio-label {
                &:before {
                    outline: none;
                    border-color: #00a660;
                }
            }
        }
        &:disabled {
            + .radio-label {
                &:before {
                    box-shadow: inset 0 0 0 4px white;
                    border-color: rgba(0, 0, 0, 0.25);
                    background: rgba(0, 0, 0, 0.25);
                }
            }
        }
        + .radio-label {
            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
        }
    }
}

.yNCj7 {
    display: flex;
    align-items: center;
    margin: 46px 0;
    justify-content: center;
}
._12IIa ._3BCF2 {
    max-width: 100%;
    transform: translate(0px, -28px) scale(.75);
}
.XP9P4 label {
    padding: 0;
}
.yNCj7 input {
    padding: 0 .5rem;
}
.yNCj7 input, .yNCj7 .Сolon {
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-size: 26px;
    max-width: 80px;
    text-align: center;
}
._1ZyjV input, ._1ZyjV textarea {
    border: none;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #303c45;
    text-overflow: ellipsis;
    padding: 0 1rem;
    height: 100%;
    min-height: 48px;
    resize: none;
    font-family: "Montserrat", sans-serif;
}
._2Du04 {
    font-size: 12px;
    right: 0;
    bottom: -16px;
    text-align: right;
}
._3BCF2, ._2Du04 {
    color: #6f7980;
    position: absolute;
    line-height: 16px;
    white-space: nowrap;
}
*, :after, :before {
    box-sizing: border-box;
}
._1ZyjV {
    font-family: pt sans, sans-serif;
    position: relative;
    padding: 4px 2px;
    line-height: 48px;
    border: 1px solid #d0d5d9;
    border-radius: 6px;
    outline: none;
    box-sizing: border-box;
}
.Arrow {
    width: 100%;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.disabled {
    opacity: 0.5; /* Уменьшаем прозрачность элемента */
    pointer-events: none; /* Отключаем события мыши для элемента */
    cursor: not-allowed; /* Меняем курсор на "не допускается" */
}

.button-container {
    display: flex;
    //justify-content: space-between;
    //align-items: center;
    max-width: 400px; /* Ограничиваем контейнер, чтобы кнопки не разъезжались слишком сильно */
    //margin: 0 auto; /* Центрируем контейнер */
}

.buttonComplete {
    background-color: #009879; /* Цвет фона */
    color: #ffffff;
    padding: 12px;
    font-size: 12px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    border-radius: 90px;
    border: 1px solid #e3e7ec;
    box-sizing: border-box;
    transition: .2s;
    flex-grow: 1; /* Растягиваем кнопку по ширине контейнера */
}

.buttonComplete:hover {
    background-color: #018e71;
}

/* Стили для кнопки "Завершить поездку", чтобы она была справа */
.buttonComplete-right {
    margin-left: 10px; /* Добавляем отступ слева */
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Отправляет карту назад */
}

.leaflet-control-container {
    display: none;
}

#info-container {
    position: absolute;
    top: 235px;
    left: 950px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
}

#distance-box, #time-box {
    background-color: #f7f7f7;
    color: #343642;
    padding: 15px;
    border-radius: 15px;
}

h3 {
    margin: 0;
    font-size: 18px;
}

p {
    font-size: 16px;
}